	<div class="container">
		<div class="row">
			<div class="twelve columns">
			<h5>My Shopping Bag <span class="u-pull-right">Order total: {{orderTotal | money}} </span> </h5>
				<table class="u-full-width">
				  <thead>
				    <tr>
				      <th>Product</th>
				      <th>Quantity</th>
				      <th>Sub-total</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="tea in order">
				      <td>
				      	<ul>
				      		<li>{{tea.name}}</li>
				      		<li><img ng-src="{{tea.imageUrl}}" alt="{{tea.name}}"></li>
				      		<li>Caffeine Scale: {{tea.caffeineScale}}</li>
				      		<li>Ingredients: {{tea.ingredients}}</li>
				      		<li>Rating: {{tea.rating}}</li>
				      	</ul>
				      </td>
				      <td ng-show="!editQuantity"> {{tea.quantity}} </td>
				      <td ng-show="editQuantity"><input type="number" min="0" ng-model="editAmount"></td>
				      <td> {{tea.subTotal | money}} </td>
				      <td>
				      
				      	<input type="button" value="Edit" ng-click="edit();" ng-show="!editQuantity">

				      	<input type="button" value="Save" ng-click="save();" ng-show="editQuantity">
				
				      	<input type="button" value="Remove" ng-click="remove()">

				      </td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>