	<div class="container">
		<div class="row">
			<div class="twelve columns">
			<h5>My Shopping Bag <span class="u-pull-right">Order total: {{orderTotal | money}} </span> </h5>
				<table class="u-full-width">
				  <thead>
				    <tr>
				      <th>Product</th>
				      <th>Quantity</th>
				      <th>Sub-total</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="tea in order">
				      <td>
				      	<ul>
				      		<li>{{tea.name}}</li>
				      		<li><img ng-src="{{tea.imageUrl}}" alt="{{tea.name}}"></li>
				      		<li>Caffeine Scale: {{tea.caffeineScale}}</li>
				      		<li>Ingredients: {{tea.ingredients}}</li>
				      		<li>Rating: {{tea.rating}}</li>
				      	</ul>
				      </td>
				      <td ng-show="!editQuantity"> {{tea.quantity}} </td>
				      <td ng-show="editQuantity">
				      	<input type="number" min="1" ng-model="tea.quantity">
				      </td>
				      <td>{{tea.subTotal | money}}</td>
				      <td>
				      	<input type="button" value="Edit" ng-click="editQuantity = true" ng-show="!editQuantity">
				      	<input type="button" value="Save" ng-click="save(); editQuantity = false" ng-show="editQuantity">
				      	<input type="button" value="Remove" ng-click="remove()">
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="container" ng-show="!order.length">
		<div class="row">
			<div class="twelve columns">
				<h3 class="centered">Your shopping cart is empty! </h3>
				<h3 class="centered"> Click the 'START SHOPPING' button to shop!</h3>
			</div>
		</div>
	</div>






