	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<table class="u-full-width">
				  <thead>
				    <tr>
				      <th>Tea</th>
				      <th>Information 
				      	<span class="u-pull-right">Sort by Price
					      	<select name="pricesort" id="pricesort" ng-model="pricesort">
					      		<option value="-price">Price high to low</option>
					      		<option value="price">Price low to high</option>
					      	</select>
					      </span>
				      </th>
				    </tr>
				  </thead>
				  <tbody ng-repeat="tea in teas | filter:search| orderBy:pricesort ">
				    <tr>
				      <td><img ng-src="{{tea.imageUrl}}" alt="{{tea.name}}"></td>
				      <td>
					      <ul>
					      	<li>
						      	<span>{{tea.name}} 
						      		<span class="u-pull-right">Quantity: <input id="quantity" type="number" min="1" ng-model="amount">
						      		<span class="u-pull-right"><input id="add-to-bag" type="button" value="Add To Bag" ng-click="addToBag(amount)">
						      		</span>
						      	</span>
					      	</li>
					      	<li>Price: {{tea.price | money }}</li>
					      	<li>Caffeine Scale: {{tea.caffeineScale}}</li>
					      	<li>Ingredients: {{tea.ingredients}}</li>
					      	<li>Rating: {{tea.rating}}</li>
					      	<li>In Stock? {{tea.inStock | inStock }}</li>
					      	<li>Categories:
					      		<ul class="tea-categories" ng-repeat="category in tea.categories">
					      			<li>{{category}}</li>
					      		</ul>
					      	</li>
					      </ul>

								<div class="caffeine-section">
									<h5>Caffeine</h5>
										mg/serving: {{ tea.caffeineScale }}
										<!-- <caffeine caffeinemg="tea.caffeineScale" id="tea._id"></caffeine> -->
								</div>

				      </td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>