/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	1). universal
	2). navbar
	3). posts

~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ------ universal ------- */

	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	  display: none !important;
	}

	html{
		font:16px;
	}

	ul {
		padding-left: 0;
	}

	li {
		list-style: none;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	a:hover {
		color: #1EAEDB;
	}
	
	.centered {
		text-align: center;
	}

	#red {
		background: rgb(251,73,72);
		border: none;
		color: white;
	}

	#red:hover {
		background: rgb(226, 48, 47);
	}

/* ------ navbar ------- */

	.navigation li {
		display: inline-block;
		margin-right: 2rem;
	}

/* ------ menu display ------- */

	menu {
		padding-left: 0;
	}

	#quantity {
		width: 6rem;
		margin-right: 0.5rem;
	}

	/*#add-to-bag {
		width: 
	}*/

	.tea-categories{
		display: inline-block;
	}






