
<div class="container">
	<div class="row">
		<div class="twelve columns">
			<label class="">
				<select name="" id="" ng-model="search">
					<option value="tea" selected>All</option>
					<option ng-repeat="option in categories">{{option}}</option>
				</select>
			  <span class="label-body">Search by name:</span>
			  <input type="text" ng-model="search">

			  	<button ng-show="continueShopping && order.length" class="button" ng-click="continueShopping ? continueShopping = false : continueShopping = true">Continue Shopping</button>

			  	<button ng-show="continueShopping && !order.length" class="button" ng-click="continueShopping ? continueShopping = false : continueShopping = true">Start Shopping</button>

			  	<button ng-show="order.length < 1" id="red" class="button" ng-click="checkoutPage(); continueShopping = true ">Checkout | Bag: Empty!</button>

			  	<button ng-show="order.length > 0" id="red" class="button" ng-click="checkoutPage(); continueShopping = true">Checkout | Bag: {{order.length}}</button>
			  	
			</label>
		</div>
	</div>
</div>
